@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    font-family: "Unbounded", sans-serif;
    font-weight: 200;
    font-size: 3em;
}

.header p {
    margin: auto;
    margin-top: 0.5em;
    color: #FFC300;
}

body {
    background-image: url("/images/index-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

input {
    background-color: transparent;
}

.header-link {
    text-decoration: none;
    color: #FFC300;
}

.input-date-with-opacity {
    opacity: 0.6;
}

.input-date-without-opacity {
    opacity: 1;
}

.error-message {
    color: red;
}
