@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background-image: url("/images/wide-candle.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

h1 {
    font-size: 3em;
    margin-bottom: 1em;
    text-align: center;
    margin-top: 2.2em;
    margin-bottom: 2.2em;
    color: white;
}

button {
    font-family: Inter, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 0.5em;
    width: 400px;
    height: 3.5em;
    font-size: 1.4em;
    background: linear-gradient(81deg, #FE2B2B 0%, #990000 100%);
    color: white;
    cursor: pointer;
    margin-top: 10px;
    color: white;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 0.5;
    gap: 2.2em;
}

label {
    font-size: 24px;
}

.inputs-input {
    border: 2px solid #ABABAB;
    border-radius: 10px;
    background-color: #000000;
    width: 400px;
    height: 60px;
    font-size: 28px;
    padding-left: 10px;
    padding-right: 3px;
    color: #919191;
}

.confirm-error {
    width: 400px;
}

.inputs-input::placeholder {
    font-weight: 100px;
    font-size: 28px;
}

input[type="date"] {
    color-scheme: dark;
}

@media (max-width: 861px) {
    .inputs {
        display: flex;
        width: auto;
    }

    h1 {
        font-size: 2.45em;
    }

    body {
        background-image: url("/images/not-wide-candle.gif");
    }
}


@media (max-width: 500px) {
    h1 {
        font-size: 2.2em;
    }

    .inputs {
        display: flex;
        width: auto;
    }

    .inputs-input,
    .confirm-error {
        width: 300px;
    }

    button {
        width: 300px;
        font-size: 1.2em;
    }
}