body {
    font-family: "Inter", sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

section {
    display: flex;
    flex-grow: 1;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 2em;
}

.header-of-register-box h1 {
    font-size: 2.5em;
    margin-bottom: 1.7em;
}

.register-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.2em;
}

form .input-div .error-message {
    color: red;
}

input,
select {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    width: 500px;
    outline: none;
    padding-left: 0.1em;
}

input {
    border: none;
    border-bottom: 1px solid;
}

input::placeholder {
    padding-left: 0.1em;
}

.input-date-with-opacity {
    opacity: 0.6;
}

.input-date-without-opacity {
    opacity: 1;
}

#agree-checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.checkbox-label {
    font-size: 1.5em;
    cursor: pointer;
}

.input-div-for-checkbox {
    width: 500px;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5em;
}

button {
    font-family: Inter, sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 0.5em;
    width: 220px;
    height: 2.2em;
    font-size: 1.2em;
    background-color: #FFC300;
    color: white;
    cursor: pointer;
    margin-bottom: 1em;
}

@media (max-width: 600px) {
    input,
    select {
        width: 400px;
        font-size: 1.25em;
    }

    .input-div-for-checkbox {
        width: 400px;
    }

    .checkbox-label {
        font-size: 1.25em;
    }

    #agree-checkbox {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 450px) {

    .header {
        font-size: 2.5em;
    }

    .header-of-register-box h1 {
        font-size: 1.9em;
        margin-bottom: 1.7em;
    }

    input,
    select {
        width: 300px;
        font-size: 1em;
    }

    .input-div-for-checkbox {
        width: 300px;
    }

    .checkbox-label {
        font-size: 1em;
    }

    #agree-checkbox {
        width: 15px;
        height: 15px;
    }
}






