<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход</title>
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
    <link href="../static/css/base_admin_form_styles.css" th:href="@{/css/base_admin_form_styles.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>

<header>
    <div class="header">
        <p><a class="header-link" href="/">ЗАГС</a></p>
    </div>
</header>

<section>
    <div class="container">
        <h1>Регистрация рождения</h1>
        <form class="snils-form" th:action="@{birth-record}" method="POST">
            <div class="snils-inputs">
                <label class="snils-label">Отец<br>
                    <input name="husbandSnils" type="text" class="snils-input" placeholder="СНИЛС">
                    <p th:if="${husbandSnilsError}" th:text="${husbandSnilsError}" class="error-message"></p>
                </label>

                <label class="snils-label">Мать<br>
                    <input name="wifeSnils" type="text" class="snils-input" placeholder="СНИЛС">
                    <p th:if="${wifeSnilsError}" th:text="${wifeSnilsError}" class="error-message"></p>
                </label>

                <label class="snils-label child-label">Ребенок<br>
                    <input name="childSnils" type="text" class="snils-input" placeholder="СНИЛС">
                    <p th:if="${childSnilsError}" th:text="${childSnilsError}" class="error-message"></p>
                    <input name="childSurname" type="text" class="snils-input" placeholder="Фамилия">
                    <p th:if="${childSurnameError}" th:text="${childSurnameError}" class="error-message"></p>
                    <input name="childName" type="text" class="snils-input" placeholder="Имя">
                    <p th:if="${childNameError}" th:text="${childNameError}" class="error-message"></p>
                    <input name="childPatronymic" type="text" class="snils-input" placeholder="Отчество (опционально)">
                    <p th:if="${childPatronymicError}" th:text="${childPatronymicError}" class="error-message"></p>
                </label>

                <label class="snils-label date-label">Дата<br>
                    <input class="date-input snils-input" type="date" name="birthDate" oninput="updateInputDateClass(this)" placeholder="Дата рождения" required> <br>
                    <p th:if="${birthDateError}" th:text="${birthDateError}" class="error-message"></p>
                </label>

                <label class="snils-label">Код региона<br>
                    <input name="regionCode" type="text" class="snils-input" placeholder="Код региона" required>
                    <p th:if="${regionCodeError}" th:text="${regionCodeError}" class="error-message"></p>
                </label>

                <label class="snils-label">Регистрационный код<br>
                    <input name="registryCode" type="text" class="snils-input" placeholder="Регистрационный код" required>
                    <p th:if="${registryCodeError}" th:text="${registryCodeError}" class="error-message"></p>
                </label>

                <p th:if="${birthMessage}" th:text="${birthMessage}" class="alert alert-success"></p>
                <p th:if="${birthErrorMessage}" th:text="${birthErrorMessage}" class="alert alert-danger"></p>
            </div>

            <button class="submit-button">Зарегистрировать рождение</button>
            <a class="submit-button go-back-button" href="/admin">Назад</a>
        </form>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>