<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Информация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="../static/css/base.css" th:href="@{/css/base.css}" rel="stylesheet" />
    <link href="../static/css/info.css" th:href="@{/css/info.css}" rel="stylesheet" />
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand header-link header" href="/">ЗАГС</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Главная</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active current" href="/info">Информация</a>
                    </li>
                </ul>

                <div sec:authorize="isAuthenticated()" class="d-flex">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a sec:authorize="hasRole('ROLE_EMPLOYEE')" class="nav-link active my-documents" href="/admin">Управление</a>
                        </li>

                        <li class="nav-item">
                            <a sec:authorize="!hasRole('ROLE_EMPLOYEE')" class="nav-link active my-documents" href="/my-documents">Мои документы</a>
                        </li>

                        <li class="nav-item">
                            <form th:action="@{/logout}" method="POST">
                                <button class="nav-link active login">Выйти</button>
                            </form>
                        </li>
                    </ul>
                </div>

                <div sec:authorize="!isAuthenticated()">
                    <form class="d-flex">
                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active register" href="/register">Регистрация</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active login"  href="/login">Вход</a>
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</header>

<section>
    <div class="container">
        <h1>Добро пожаловать на сайт информационной системы ЗАГС!</h1>
        <div class="paragraphs">
            <p class="paragraph">Здесь вы можете:</p>
            <p class="paragraph">✅ Создать личный аккаунт</p>
            <p class="paragraph">🔐 Получить доступ к вашим данным по СНИЛС</p>
            <p class="paragraph">📑 Просматривать результаты заключённых актов в личном кабинете</p>
            <p class="paragraph">Работа с системой осуществляется по вашему СНИЛС, который служит идентификатором пользователя</p>
            <p class="paragraph">Акты оформляются сотрудниками платформы, после чего их результаты становятся доступны вам в личном кабинете.</p>
            <p class="paragraph">💬 Если у вас ещё нет аккаунта — зарегистрируйтесь и получите удобный доступ к своим документам онлайн.</p>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>